<div class="logo">
  <img src="../assets//logo.svg" alt="logo" />
</div>
<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Personal information</ng-template>
      <h1>
        Please provide us with your personal information to send you the item
      </h1>
      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input
          formControlName="dateOfBirth"
          matInput
          [matDatepicker]="picker"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genders" [value]="gender.value">
            {{ gender.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>ID Number</mat-label>
        <input type="number" matInput formControlName="idNumber" required />
      </mat-form-field>
      <div>
        <button
          mat-raised-button
          matStepperNext
          [disabled]="firstFormGroup.invalid"
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Address">
    <form [formGroup]="secondFormGroup">
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input
          matInput
          formControlName="address"
          placeholder="Ex. 1 Main St, New York, NY"
          required
        />
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button
          mat-raised-button
          matStepperNext
          [disabled]="secondFormGroup.invalid"
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup" label="Payment">
    <form [formGroup]="thirdFormGroup">
      <mat-form-field appearance="outline">
        <mat-label>Select your payment method</mat-label>
        <mat-select formControlName="payment">
          <mat-option *ngFor="let payment of payments" [value]="payment.value">
            {{ payment.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button
          mat-raised-button
          matStepperNext
          [disabled]="thirdFormGroup.invalid"
        >
          Next
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-raised-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
